# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.spec

# Node/Web
node_modules/
.env
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# We will manually track the EXE if user insists, but usually it is ignored.
# !dist/SilverTrader.exe
